* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
}

.rrm-header {
  line-height: 10vh;
}

.home {
  background: pink;
  height: 3000px;
}

.about {
  background: powderblue;
  height: 3000px;
}

.contact {
  background: bisque;
  height: 3000px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}

.flex-item {
  line-height: 10vh;
}

.flex-item:nth-child(1) {
  order: 0;
  flex: 1 1 auto;
  align-self: stretch;
}

.flex-item:nth-child(2) {
  order: 0;
  flex: 1 1 auto;
  align-self: stretch;
}

.flex-item:nth-child(3) {
  order: 0;
  flex: 1 1 auto;
  align-self: stretch;
}
